In [2]:
import mooda as md

In [ ]:
path = r'./docs/examples/data/test_qc.pkl'
wf = md.read_pkl(path)
gui = md.widget_qc(wf, 'TEMP')
gui

In [ ]:
path = r'./docs/examples/data/test_qc.pkl'
wf2 = md.read_pkl(path)
wf2.qc_replace(parameters=['TEMP'])
print(wf2.data.head())

In [ ]:
wf.data.head()

In [3]:
wf = md.WaterFrame()
gui_emso = md.widget_emso(wf)
gui_emso

VBox(children=(HBox(children=(Label(value='User:'), Text(value=''), Label(value='Password:'), Text(value='')))…

In [1]:
import pandas as pd

df = pd.DataFrame()

print(df._repr_html_())

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [1]:
import mooda as md
path = r'./docs/examples/data/test_qc.pkl'
wf = md.read_pkl(path)
wf

Memory usage: 3.946 MBytes
Parameters:
  - TEMP: Water Temperature (degree_Celsius)
    - Min value: -1.3666735804724413
      - DEPTH: 0
      - TIME: 2018-01-28 21:47:00
    - Max value: 11.413173544181621
      - DEPTH: 0
      - TIME: 2018-01-23 06:11:00
    - Mean value: 4.999704632781704
  - PSAL: Water Salinity (PSU)
    - Min value: 2.458814899332914
      - DEPTH: 0
      - TIME: 2018-01-17 18:05:00
    - Max value: 16.67555158984619
      - DEPTH: 0
      - TIME: 2018-01-04 04:42:00
    - Mean value: 9.999575978938548

In [4]:
wf.data

                           DEPTH_QC  TIME_QC      TEMP  TEMP_QC       PSAL  \
DEPTH TIME
0     2018-01-01 00:00:00         0        0  4.968031        0  10.807594
      2018-01-01 00:01:00         0        0  4.899738        0   9.977635
      2018-01-01 00:02:00         0        0  5.050169        0  10.030676
      2018-01-01 00:03:00         0        0  4.965994        0  10.063260
      2018-01-01 00:04:00         0        0  4.979039        0  10.003307
...                             ...      ...       ...      ...        ...
      2018-01-30 23:56:00         0        0  4.946912        0   9.994986
      2018-01-30 23:57:00         0        0  5.104453        0   9.920386
      2018-01-30 23:58:00         0        0  4.988564        0   9.938196
      2018-01-30 23:59:00         0        0  4.958780        0  10.128390
      2018-01-31 00:00:00         0        0  5.033144        0   9.904120

                           PSAL_QC
DEPTH TIME
0     2018-01-01 00:00:00        0
      2018-01-01 00:01:00        0
      2018-01-01 00:02:00        0
      2018-01-01 00:03:00        0
      2018-01-01 00:04:00        0
...                            ...
      2018-01-30 23:56:00        0
      2018-01-30 23:57:00        0
      2018-01-30 23:58:00        0
      2018-01-30 23:59:00        0
      2018-01-31 00:00:00        0

[43201 rows x 6 columns]